// FONTS
// Raleway
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf) format('truetype-variations');
  font-display: swap;
  font-weight: 100 900;
}

// Roboto
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

:root {
  // COLORS
  --primary: #4175c4;
  --primary-125: #37588a;
  --primary-50: #90b5ec;
  --primary-25: #f8fbff;
  --secondary: #ADE7FF;
  --secondary-125: #67cffc;
  --secondary-50: #ccf0ff;
  --secondary-25: #f2fbff;
  --tertiary: #6F899E;
  --tertiary-125: #455461;
  --tertiary-50: #a9b8c5;
  --tertiary-25: #f7faff;
  --white: #fefefe;
  --black: #111111;
  --dark-grey: #313131;

  // GRADIENTS
  --linear-gradient-primary-transparent-45deg: linear-gradient(45deg,
      rgba(68, 123, 206, 1) 0%,
      rgba(9, 133, 206, 0) 100%);
  --linear-gradient-transparent-primary-45deg: linear-gradient(45deg,
      rgba(9, 133, 206, 0)0%,
      rgba(68, 123, 206, 1) 100%);
  --linear-gradient-transparent-primary-15deg: linear-gradient(15deg,
      rgba(9, 133, 206, 0) 0%,
      rgba(68, 123, 206, 1) 100%);

  // PADDING
  --padding-xxs: .4rem;
  --padding-xs: .8rem;
  --padding-s: 1.6rem;
  --padding-m: 2.4rem;
  --padding-l: 3.2rem;
  --padding-xl: 4.8rem;
  --padding-xxl: 6.4rem;

  // RADIUS
  --radius-xxs: .1rem;
  --radius-xs: .2rem;
  --radius-s: .4rem;
  --radius-m: .55rem;
  --radius-l: .7rem;

  // SHADOW

  // SLIDER
  --slider-position: 50%;

  // FONT SIZE
  --font-label: 1.3rem;
  --font-size-xs: calc(.95rem + .6vmin);
  --font-size-s: calc(1rem + .6vmin);
  --font-size-n: calc(1.2rem + .6vmin);
  --font-size-m: calc(1.6rem + .6vmin);
  --font-size-l: calc(1.8rem + .6vmin);
  --font-size-xl: calc(2rem + .6vmin);
  --font-size-xxl: calc(3rem + .6vmin);
  --font-size-3xl: calc(4rem + .6vmin);
  --font-size-4xl: calc(5rem + .6vmin);

  // FONT WEIGHT
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}