---

---

<style lang="scss">
  @use "../styles/mixins" as *;

  .banner {
    @include flex;
    @include center;
    background:
      var(--linear-gradient-primary-transparent-45deg),
      url("../assets/images/banner.jpg") no-repeat center/cover;
    min-height: 100svh;
    color: var(--white);

    h1 {
      font-size: var(--font-size-3xl);
    }

    &__container {
      @include flex("column", "nowrap");
      text-align: center;

      p {
        font-weight: var(--fw-bold);
        font-size: var(--font-size-l);
      }
    }
  }
</style>

<section class="banner" role="banner">
  <div class="banner__container">
    <h1>Entreprise Rody de Bâtiment</h1>
    <p>Transformez votre cuisine en un espace de rêve</p>
  </div>
</section>
