---
import { Icon } from "astro-icon/components";
const { iconName, text, href, linkText } = Astro.props;
---

<li class="card__contact--reveal fade--right">
  <Icon name={iconName} />
  <p>{text}</p>
  <div>
    <a href={href}>{linkText}</a>
  </div>
</li>

<style lang="scss">
  @use "../styles/mixins" as *;

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 0.5rem;
    padding: var(--padding-s);
    background-color: var(--white);
    box-shadow:
      inset var(--shadow-border-xs) rgba(173, 173, 173, 0.301),
      var(--shadow-2-0-5-0) rgba(57, 65, 75, 0.25);
    transition: all 0.3s ease;

    &:hover {
      box-shadow:
        inset var(--shadow-border-xs) var(--secondary-125),
        var(--shadow-2-0-5-0) rgba(120, 160, 209, 0.473);

      [data-icon] {
        color: var(--secondary-125);
      }
    }

    [data-icon] {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      @include flex;
      height: 55px;
      width: 55px;
      color: var(--primary-125);
      transition: color 0.3s ease;
    }

    p {
      align-self: end;
    }

    a {
      color: var(--primary-125);
      transition: color 0.3s ease;

      &:hover {
        color: var(--secondary-125);
      }
    }
  }
</style>
