---
import Logo from "@components/Logo.astro";
---

<style lang="scss">
  @use "../styles/mixins" as *;

  .footer {
    background-color: var(--dark-grey);

    &,
    a {
      color: var(--white);
    }

    &__container {
      @include container;
      display: grid;
      place-items: center;
      gap: 4rem;
    }

    p {
      font-size: var(--font-label);
    }
  }
</style>

<footer class="footer">
  <div class="footer__container">
    <Logo />
    <p>
      &#169; Entreprise Rody de Bâtiment 2024 - made by <a
        href="https://github.com/Tiffany-Dby"
      >
        Tiffany Dbeissy</a
      >
    </p>
  </div>
</footer>
