---
import Logo from "@components/Logo.astro";
import HeaderNavigation from "@components/HeaderNavigation.astro";
import Burger from "@components/Burger.astro";
---

<style lang="scss">
  @use "../styles/mixins" as *;

  body {
    &:has(.banner) .header {
      position: fixed;
    }

    .header {
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
      font-weight: var(--fw-semi-bold);
      transition: all 0.5s ease;
      backdrop-filter: blur(5px);

      @media screen and (min-width: 680px) {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &__container {
        background-color: rgba(0, 0, 0, 0.6);
        position: relative;
        @include container;
        @include flex;
        justify-content: space-between;
        text-transform: uppercase;

        @media screen and (min-width: 680px) {
          background-color: transparent;
        }
      }
    }
  }
</style>

<header id="header" class="header">
  <div class="header__container">
    <Logo />
    <Burger />
    <HeaderNavigation />
  </div>
</header>
