---
const { title } = Astro.props;
---

<style lang="scss">
  @use "../styles/mixins" as *;

  article {
    @include flex("column", "nowrap");
    box-shadow: inset 0px 0px 0px 1px rgba(173, 173, 173, 0.301);
    border-radius: var(--radius-m);
    text-align: center;
    padding: var(--padding-s);
    max-width: 350px;

    // div {
    //   display: flex;
    //   align-items: baseline;
    //   gap: 0.25rem;
    // }
  }
</style>

<article>
  <h3>{title}</h3>
  <div>
    <slot />
  </div>
</article>
