---
const { title } = Astro.props;
---

<style lang="scss">
  @use "../styles/mixins" as *;

  article {
    @include flex("column", "nowrap");
    box-shadow: inset 0px 0px 0px 1px rgba(173, 173, 173, 0.301);
    border-radius: var(--radius-m);
    text-align: center;
    padding: var(--padding-s);

    @media screen and (min-width: 550px) {
      max-width: calc(100% / 2 - var(--padding-s));
    }
    @media screen and (min-width: 1230px) {
      max-width: calc(100% / 4 - var(--padding-s));
    }
  }
</style>

<article>
  <h3>{title}</h3>
  <div>
    <slot />
  </div>
</article>
