---
import { Image } from "astro:assets";

const { title, imgPath, imgAlt } = Astro.props;
---

<style lang="scss">
  @use "../styles/mixins" as *;

  article {
    @include flex("column", "nowrap");
    padding: var(--padding-s);
    border-radius: var(--radius-m);
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(173, 173, 173, 0.301);

    @media screen and (min-width: 550px) {
      max-width: calc(100% / 2 - var(--padding-s));
    }
    @media screen and (min-width: 1230px) {
      max-width: calc(100% / 4 - var(--padding-s));
    }

    .img {
      margin: 0 auto;
      max-width: 85px;
      max-height: 90px;

      img {
        object-fit: contain;
      }
    }
  }
</style>

<article class="card__key--reveal fade--bottom">
  <div class="img">
    <Image src={imgPath} alt={imgAlt} />
  </div>
  <h3>{title}</h3>
  <div>
    <slot />
  </div>
</article>
