---
import { Image } from "astro:assets";
import logoERB from "@assets/images/ERB-logo-light.svg";
---

<div class="logo">
  <a href="/Entreprise-Rody/" data-astro-reload>
    <Image src={logoERB} alt="Logo Entreprise Rody de Bâtiment" />
  </a>
</div>

<style lang="scss">
  @use "../styles/mixins" as *;

  .logo {
    max-width: 70px;
    width: 100%;
    display: flex;
    align-items: center;

    a {
      display: flex;
    }

    img {
      object-fit: contain;
    }
  }
</style>
