---
import ServiceOverviewCard from "./ServiceOverviewCard.astro";
---

<style lang="scss">
  @use "../styles/mixins" as *;

  .services-overview {
    background-color: var(--primary-25);
    scroll-margin-top: 67.55px;

    &__title {
      @include container(
        calc(1000px + var(--padding-s)),
        var(--padding-m) var(--padding-s) 3rem
      );
    }

    &__container {
      @include container(
        calc(1000px + var(--padding-s)),
        0 var(--padding-s) var(--padding-xl)
      );
      display: grid;
      row-gap: 2rem;

      @media screen and (min-width: 767px) {
        @include flex($wrap: "nowrap");
        justify-content: space-between;
      }
    }

    h2 {
      text-align: left;
    }

    &--left {
      @include flex("column", "nowrap");
      gap: 3rem;

      @media screen and (min-width: 767px) {
        width: 45%;
      }

      & > div {
        @include flex;

        a {
          @include button;
        }
      }
    }

    &--right {
      @media screen and (min-width: 767px) {
        width: 45%;
      }

      ul {
        @include flex("column", "nowrap");
        gap: 3rem;
        height: 100%;
      }
    }
  }
</style>

<section class="services-overview" id="services">
  <div class="services-overview__title">
    <h2>Mes services</h2>
  </div>
  <div class="services-overview__container">
    <div class="services-overview--left">
      <p>
        Découvrez un aperçu de mes <strong>compétences</strong> et <strong
          >prestations</strong
        > en tant que <strong>spécialiste dans la pose de cuisines</strong>.
      </p>
      <p>
        Tous mes services sont couverts par une <strong
          >garantie décennale</strong
        >, <strong>biennale</strong>, et une <strong
          >assurance responsabilité civile professionnelle (RC Pro)</strong
        >, dont l'attestation vous sera délivrée.
      </p>
      <div>
        <a href="#contact">Me contacter</a>
      </div>
    </div>
    <div class="services-overview--right">
      <ul>
        <ServiceOverviewCard
          iconName="mdi--kitchen-counter"
          serviceName="Cuisine & annexe"
          serviceDetails=`Installation complète de cuisine et d'annexes : réalisation de
          coffrage, de calfeutrement, aménagement d'une arrière-cuisine, une
          buanderie, un dressing, une bibliothèque, des placards, etc.`
        />
        <ServiceOverviewCard
          iconName="fa6-solid--faucet-drip"
          serviceName="Plomberie"
          serviceDetails=`Installation, modification et distribution depuis le compteur d'eau
          et évacuation selon le plan.`
        />
        <ServiceOverviewCard
          iconName="healthicons--electricity"
          serviceName="Électricité : habilitation BR"
          serviceDetails=`Installation, modification et déplacement des points électriques
          selon le plan : prises dédiées, alimentations, éclairages.`
        />
        <ServiceOverviewCard
          iconName="material-symbols-light--oven"
          serviceName="Électroménager"
          serviceDetails=`Installation de tout type d'appareillage électroménager, qu'il soit
          intégrable ou posable : hotte, plaques de cuisson, réfrigérateurs,
          lave-linge, lave-vaisselle, gazinière, fours (traditionnels, à
          vapeur, micro-ondes, combinés), etc.`
        />
        <ServiceOverviewCard
          iconName="mdi--bricks"
          serviceName="Revêtement sol & mur"
          serviceDetails=`Pose de différents types de revêtements pour les sols et les murs :
          plan de travail (découpe pour éviers et plaques), carrelage,
          parquet, miroirs, crédences, etc.`
        />
      </ul>
    </div>
  </div>
</section>
