---
import { Icon } from "astro-icon/components";

const { iconName, serviceName, serviceDetails } = Astro.props;
---

<style lang="scss">
  @use "../styles/mixins" as *;

  li {
    details {
      padding: 0 var(--padding-xs);
      background-color: var(--primary-125);
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
      background-image: var(--linear-gradient-transparent-primary-15deg);
      border-radius: var(--radius-l);

      color: var(--white);
      transition: all 0.5s ease;

      &:hover {
        background-color: var(--dark-grey);
      }

      &[open] {
        padding-bottom: var(--padding-xs);

        & summary::after {
          transform: rotate(-45deg);
        }
      }

      summary {
        padding: var(--padding-xs);
        cursor: pointer;
        justify-content: space-between;

        &,
        div {
          @include flex;
          align-items: center;
        }

        div {
          gap: 0.75rem;
        }

        &::after {
          content: "\002B";
          height: 22px;
          width: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          font-weight: bold;
          transform: rotate(90deg);
          transition: all 0.3s ease;
        }
      }

      & > div {
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
        padding: var(--padding-xs);
        border-radius: var(--radius-l);
        background-color: var(--primary-50);
        color: var(--black);
      }
    }

    strong {
      color: var(--white);
    }

    [data-icon] {
      @include flex;
      font-size: 2.5rem;
      color: var(--white);
    }
  }
</style>

<li>
  <details>
    <summary>
      <div>
        <Icon name={iconName} />
        <strong>{serviceName}</strong>
      </div>
    </summary>
    <div>
      <p>{serviceDetails}</p>
    </div>
  </details>
</li>
